<!-- //all load dynamically posile value -->
<html>
    <head>
        <title>Filter Employee</title>
    </head>
    <body> 
        <form>  
            <p>Name</p>
                <select>
                        <option value="name">name</option>
                        <option value="midel">midel</option>
                        <option value="last">last</option>
                </select>
            <p>Age/Birthday</p>
            <select>
                    <option></option>
            </select>
            <p>Address</p>
            <select>
                    <option value="name">Address</option>
                    <option value="midel">zipcode</option>
                    <option value="last">city</option>
                    <option value="last">Country</option>
            </select>
            <p>Gender</p>
            <select>
                    <option value="name">All</option>
                    <option value="midel">Male</option>
                    <option value="last">female</option>
                    <option value="last">other</option>
            </select>
           <p>Hobby</p>
           <p>Interest</p>
           <p>Blood_Group</p>
           <p>Branch</p>
           <p>Roal</p>
		</form>		
    </body>
</html>
