<!DOCTYPE html>
<html>
<body>
<div align="center">
    <h1><b><u>Welcome to SPAEMP</u></b></h1><br>
    <p>for more information you have <a href="/login">login</a>  into 'SPAEMP'</p><br>
    <p>first Time <a href="/reg">Register</a>  your self with 'SPAEMP'</p><br>
    <p>THANK YOU</p>
</div>

</body>
</html> 