<html>
    <head>
        <title>Test upload</title>
    </head>
    <body>
        <!-- <from action="/page2" method="post" onsubmit="return validation()">
            First name: <input type="text" name="fname" id="name"><br>
            <span id="message"></span>
            <input type="file" id="file-upload" multiple required onchange="showFileName(event)"/>
            <label for="file-upload" name="pic">Upload file</label>
            <div id="file-upload-filename"></div> 
            <input type="submit" value="submit">
        </form> -->
        <from onsubmit="return validat()">
            First name: <input type="text" name="fname" id="name"><br>
            <span id="message"></span>
            <input type="submit" value="submit">
        </from>

        <script>
            function validat(){
                var name = document.getElementById("name").value;
                if(name==""){
                     document.getElementById("message").innerHTML="**Enter User Name"
                }
            }
            function showFileName( event ) {
            // the change event gives us the input it occurred in 
            var input = event.srcElement;
            // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
            //var fileName = input.files[0].name;
            var fileName = input.files[0].name;
            // use fileName however fits your app best, i.e. add it into a div
            var infoArea = document.getElementById( 'file-upload-filename' );
            infoArea.textContent = 'File name: ' + fileName;
}
       </script>
    </body>
</html>
<script>
     /* function uploadOnChange() {
        var filename = this.value;
        var lastIndex = filename.lastIndexOf("\\");
        if (lastIndex >= 0) {
            filename = filename.substring(lastIndex + 1);
        }
        document.getElementById('filename').value = filename;
        }
        */     
</script>